/* App.css */
/* src/App.css */
.app {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.task {
  display: flex;
  justify-content: space-between;
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.completed {
  background-color: #d3ffd3;
}

@media (max-width: 600px) {
  .app {
      margin-top: 20px;
  }

  .task {
      width: 100%;
  }
}
